.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Istio-mgTop-md {
  margin-top: 20px;
}

/* .content-new-size {
  padding: 14rem 1.5rem;
} */

.footer-image-middle {
  max-width: 960px;
  max-height: 300px;
}

.footer-container {
  padding: 10px 10px
}
.font-size-veryLarge {
  font-size: 10rem
}